@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Todo.GroupManagement.Web.Pages.GroupManagement.Group.AddUserToGroupModel
@{
    Layout = null;

}

@section scripts{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $("#userList").select2({ width: '100%' });
    </script>

}
<abp-dynamic-form abp-model="@Model.DetailedModel" asp-page="/GroupManagement/Group/AddUserToGroup">
    <abp-modal>
        <abp-modal-header title="@Model.Group.Name Grubuna Kullanıcı Ekleme"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            <div class="form-group">
                <label for="user">Kullanıcılar</label>
                <select multiple="multiple" name="Users" id="userList">
                    @foreach (var item in Model.UserSelectListItems)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>